vijay-cicd/src/main/mule/vijay-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a2dfe130-fb2a-4319-9506-c38dac2c46d8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="vijay-cicdFlow" doc:id="f984d550-7f9c-425c-9f2e-eebc69cbc153" >
		<http:listener doc:id="1256b505-7b60-4068-b1c6-dbc76091073d" doc:name="" config-ref="HTTP_Listener_config" path="helloword"/>
		<set-variable value="#[attributes.queryParams.Name]" doc:name="Set Variable" doc:id="7541a5a0-d0ce-4f22-87a3-a73cfb73401a" variableName="name"/>
		<choice doc:name="Choice" doc:id="48001948-f768-4572-8f5f-be0c93771311" >
			<when expression='#[vars.name=="vijay"]'>
				<flow-ref doc:name="Flow Reference" doc:id="1849ef7f-5509-47cd-b430-f8c638aa94de" name="vijay-cicdSub_Flow"/>
			</when>
			<otherwise>
				<flow-ref doc:name="Flow Reference" doc:id="20b86f3a-2c84-4a1b-8629-84ddad741507" name="vijay-cicdSub_Flow1"/>
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="vijay-cicdSub_Flow" doc:id="79d441e2-e109-4d4f-a2a3-db9f2dc4da5b" >
		<set-payload value="hello vijay naidu sunkara" doc:name="Set Payload" doc:id="1697e318-25be-40b5-b009-5896f225d960" />
	</sub-flow>
	<sub-flow name="vijay-cicdSub_Flow1" doc:id="ad35f35c-e6c3-4962-87cb-262cb8dbc61f" >
		<set-payload value="hello bro" doc:name="Set Payload" doc:id="fe8bce27-0a40-489b-aaf0-2c5a32f87a82" />
	</sub-flow>
</mule>
