vijay-cicd/src/main/mule/vijay-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a2dfe130-fb2a-4319-9506-c38dac2c46d8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="vijay-cicdFlow" doc:id="f984d550-7f9c-425c-9f2e-eebc69cbc153" >
		<http:listener doc:id="1256b505-7b60-4068-b1c6-dbc76091073d" doc:name="" config-ref="HTTP_Listener_config" path="helloword"/>
		<set-variable value="#[attributes.queryParams.Name]" doc:name="Set Variable" doc:id="7541a5a0-d0ce-4f22-87a3-a73cfb73401a" variableName="name"/>
		<choice doc:name="Choice" doc:id="48001948-f768-4572-8f5f-be0c93771311" >
			<when expression='#[vars.name=="vijay"]'>
				<scatter-gather doc:name="Scatter-Gather" doc:id="0b3df4da-add2-44e8-a512-2030729db436" >
					<route >
						<flow-ref doc:name="Flow Reference" doc:id="1849ef7f-5509-47cd-b430-f8c638aa94de" name="vijay-cicdSub_Flow" />
					</route>
					<route >
						<flow-ref doc:name="Flow Reference" doc:id="20b86f3a-2c84-4a1b-8629-84ddad741507" name="vijay-cicdSub_Flow1" />
					</route>
				</scatter-gather>
				<ee:transform doc:name="Transform Message" doc:id="c21f8afa-3146-4755-a70c-d5ca4ce24cbb">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
first:payload[0].payload,
second:payload[1].payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<set-payload value="hello friend" doc:name="Set Payload" doc:id="7759a693-1c70-4de5-a7e2-da2cf9098469" />
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="vijay-cicdSub_Flow" doc:id="79d441e2-e109-4d4f-a2a3-db9f2dc4da5b" >
		<set-payload value="hello vijay naidu sunkara" doc:name="Set Payload" doc:id="1697e318-25be-40b5-b009-5896f225d960" />
		<logger level="INFO" doc:name="Logger" doc:id="819b3f84-4efb-4198-af3c-a2085d3e5a6d" />
		<set-payload value="Hello vijay welcome to india" doc:name="Set Payload" doc:id="c65f00e3-b9eb-475c-b0f4-b0c03cfdd823" />
	</sub-flow>
	<sub-flow name="vijay-cicdSub_Flow1" doc:id="ad35f35c-e6c3-4962-87cb-262cb8dbc61f" >
		<set-payload value="hello bro" doc:name="Set Payload" doc:id="fe8bce27-0a40-489b-aaf0-2c5a32f87a82" />
		<logger level="INFO" doc:name="Logger" doc:id="ca673275-e51f-4016-a438-18fd33d323e2" />
		<set-payload value="hello others welcome to india" doc:name="Set Payload" doc:id="6dc6671e-02cf-4500-aa06-f12617ff8dc1" />
	</sub-flow>
</mule>
